div {
    /*设置边框宽度、样式、颜色*/
    border: 1px solid yellow;
    /*设置字体颜色*/
    color: blue;
    /*设置字体大小*/
    font-size: 30px;
}
span {
    border: 5px dashed blue;
    color: yellow;
    font-size: 20px;
}